.center{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

.contador{
    font-size: 40px;
    text-align: center;
}

.boton {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: #18243D;
    color: #fff;
}
